{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>МИСТЪР МИНУТ ВАРНА</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicon -->
    <link href="{% static "img/mister-minut-varna-logo.png" %}" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
          rel="stylesheet">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

{#<div style="display: flex;align-items: center;justify-content: center;background-image: url('{% static 'img/carousel-2.jpg' %}');background-size: auto">#}
{#    <img style="align-self: center;height: 23%;" src="{% static 'img/mister-minut-varna-logo.png' %}"#}
{#         alt="logo">#}
{#</div>#}

<body>
<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->


<!-- Topbar Start -->
<div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>ул. „Стефан Стамболов“ 12, гр. Варна (До бившата "Баня Гъбата")</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Работно време: Понеделник - Петък : 10.00 - 13.00 PM, 14:00 - 18:30</small>

            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>0888 213 806 | Аварийна ключарска помощ 24 часа!</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-white text-primary me-1"
                   href="https://www.facebook.com/profile.php?id=100057124134767" target="_blank"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" target="_blank"
                   href="https://www.google.com/maps/@43.2043015,27.9191625,3a,75y,217.66h,81.4t/data=!3m7!1e1!3m5!1scyQuPqt5yYe14N_hjooE_w!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DcyQuPqt5yYe14N_hjooE_w%26cb_client%3Dsearch.gws-prod.gps%26w%3D86%26h%3D86%26yaw%3D218.26315%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?coh=205409&entry=ttu&g_ep=EgoyMDI0MTAwOS4wIKXMDSoASAFQAw%3D%3D"><i
                        class="fab bi-map"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h1 class="m-0 text-primary">МИСТЪР МИНУТ ВАРНА</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{% url 'index' %}" class="nav-item nav-link active">Начало</a>
            <a href="{% url 'about' %}" class="nav-item nav-link">Информация</a>
            <a href="{% url 'service' %}" class="nav-item nav-link">Услуги</a>
            <a href="{% url 'project' %}" class="nav-item nav-link">Проекти</a>
            <a href="{% url 'contacts' %}" class="nav-item nav-link">Контакти</a>
        </div>
    </div>
</nav>
<!-- Navbar End -->


<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img style="height: 1000px" class="img-fluid" src="{% static "img/carousel-1.jpg" %}" alt="">

            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                 style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h3 style="color: red!important; font-weight: bold;text-shadow: 1px 1px 1px whitesmoke"
                                class="text-white text-uppercase mb-3 animated slideInDown">МИСТЪР МИНУТ ВАРНА</h3>
                            <h1 style="font-size: 50px" class="display-3 text-white animated slideInDown mb-4">Аварийно
                                отключване на автомобили или на адрес</h1>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Денонощно –
                                24h</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Тел: 0888 213806</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img style="height: 1000px" class="img-fluid" src="{% static "img/carousel-3.jpg" %}" alt="">

            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                 style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h3 style="color: red!important; font-weight: bold;text-shadow: 1px 1px 1px whitesmoke"
                                class="text-white text-uppercase mb-3 animated slideInDown">МИСТЪР МИНУТ ВАРНА</h3>
                            <h1 style="font-size: 50px" class="display-3 text-white animated slideInDown mb-4">Изработка
                                и копиране на автоключове с чип</h1>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Денонощно –
                                24h</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Тел: 0888 213806</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img style="height: 1000px" class="img-fluid" src="{% static "img/carousel-2.jpg" %}" alt="">

            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                 style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h3 style="color: red!important; font-weight: bold;text-shadow: 1px 1px 1px whitesmoke"
                                class="text-white text-uppercase mb-3 animated slideInDown">МИСТЪР МИНУТ ВАРНА</h3>
                            <h1 style="font-size: 50px" class="display-3 text-white animated slideInDown mb-4">Обущарски
                                услуги. Всякакъв вид ремонт на обувки и работа с кожа</h1>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Денонощно –
                                24h</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Тел: 0888 213806</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Carousel End -->

<!-- Feature Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light"
                         style="width: 60px; height: 60px;">
                        <i class="fa fa-user-check fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-1 text-light mb-0">01</h1>
                </div>
                <h5>Бързо реагиране</h5>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light"
                         style="width: 60px; height: 60px;">
                        <i class="fa fa-check fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-1 text-light mb-0">02</h1>
                </div>
                <h5>Качествени продукти</h5>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light"
                         style="width: 60px; height: 60px;">
                        <i class="fa fa-drafting-compass fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-1 text-light mb-0">03</h1>
                </div>
                <h5>Безплатна консултация</h5>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light"
                         style="width: 60px; height: 60px;">
                        <i class="fa fa-headphones fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-1 text-light mb-0">04</h1>
                </div>
                <h5>Аравийни услуги - 24 часа </h5>
            </div>
        </div>
    </div>
</div>
<!-- Feature Start -->

<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div style="display: flex;justify-content: center;margin: 10px">
        <img style="align-self: center;height: 23%;" src="{% static 'img/mister-minut-varna-logo.png' %}"
             alt="logo">
    </div>
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    {#                    <img class="position-absolute img-fluid w-100 h-100" src="{% static "img/about.png" %}"#}
                    {#                         style="object-fit: cover;" alt="">#}

                    <img class="position-absolute img-fluid w-100 h-100" src="{% static "img/about.png" %}"
                         style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <div class="section-title text-start">
                        <h1 class="display-5 mb-4">За Нас</h1>
                    </div>
                    <p class="mb-4 pb-2">„МИСТЪР МИНУТ“ са специализирани лицензирани ателиета в град Варна за
                        едновременно извършване на ключарски и обущарски услуги. Ателиетата са оборудвани с френски и
                        швейцарски машини за поправка на обувки и изработка на ключове. Екипът ни се състои от
                        компетентни и коректни специалисти, притежаващи майсторско свидетелство в областите: ключарство
                        и обущарство. Дългогодишният опит в сферата на ключарството и обущарството ни класира сред
                        професионалистите във Варна в сферата на услугите.</p>
                    <div class="row g-4 mb-4 pb-2">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                     style="width: 60px; height: 60px;">
                                    <i class="fa fa-users fa-2x text-primary"></i>
                                </div>
                                <div class="ms-3">
                                    <h2 class="text-primary mb-1">Гр. Варна</h2>
                                    <p class="fw-medium mb-0">ул. „Стефан Стамболов“ 12</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                     style="width: 60px; height: 60px;">
                                    <i class="fa fa-check fa-2x text-primary"></i>
                                </div>
                                <div class="ms-3">
                                    <h2 class="text-primary mb-1">Телефон:</h2>
                                    <p class="fw-medium mb-0">0888 213806</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a target="_blank"
                       href="https://www.google.com/maps/@43.2043015,27.9191625,3a,75y,217.66h,81.4t/data=!3m7!1e1!3m5!1scyQuPqt5yYe14N_hjooE_w!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DcyQuPqt5yYe14N_hjooE_w%26cb_client%3Dsearch.gws-prod.gps%26w%3D86%26h%3D86%26yaw%3D218.26315%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?coh=205409&entry=ttu&g_ep=EgoyMDI0MTAwOS4wIKXMDSoASAFQAw%3D%3D"
                       class="btn btn-primary py-3 px-5">Виж на картата</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5">Нашите услуги</h1>
        </div>
        <div class="row g-4">

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static "extra_img/service-1.jpg" %}" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Модерни решения</h4>
                        <p>Невидими заключващи системи с дистанционно управление</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static "extra_img/service-2.jpg" %}" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Дубликати на ключове</h4>
                        <p>Изработка на всички видове ключове за вашия дом, офис, вила, сейф или автомобил</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static "extra_img/service-3.jpg" %}" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Обущарство</h4>
                        <p>Качествена поправка и разширяване на обувки и ботуши. Кожени изделия</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static "extra_img/service-4.jpg" %}" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Монтаж и ремонт</h4>
                        <p>Монтаж, демонтаж, ремонт на касови брави и секретни патрони</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static "extra_img/svidetelstvo-3.jpg" %}" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Гаранция за качество</h4>
                        <p>Дългогодишен опит в сферата на КЛЮЧАРСТВОтО</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static "extra_img/service-5.jpg" %}" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Бързи услуги</h4>
                        <p>Експресна смяна на капачета и подметки.Разширяване на обувки</p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static "extra_img/service-7.jpg" %}" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Авто ключарство</h4>
                        <p>Изработка и копиране на автоключове с чип и дистанционно</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static "extra_img/svidetelstvo-1.jpg" %}" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Гаранция за качество</h4>
                        <p>Дългогодишен опит в сферата на ОБУЩАРСТВОТО</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static "extra_img/service-8.jpg" %}" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Разнообразие</h4>
                        <p>Най-актуалните и нови световни МАРКИ секретни патрони</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Service End -->


<!-- Feature Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <div class="section-title text-start">
                        <h1 class="display-5 mb-4">Защо да ни изберете?</h1>
                    </div>
                    <p class="mb-4 pb-2">1. Ако сте си загубили ключовете или са ви ги откраднали;
                        <br>
                        2. Ако патрона ви е повреден или счупен;<br>

                        3. Ако някой от детайлите на ключалката са изместени или повредени и пречат на
                        отварянето/затварянето или отключването/заключването на вратата;<br>

                        4. Ако сте забравили ключа от вътрешната част на вратата, а вратата е с топка;<br>

                        5. Ако имате нужда от изработка на дубликати или се притеснявате, че предишния собственик или
                        наемател има копие от вашите ключове;<br>

                        6. Ако имате нужда от помощ при монтаж/демонтаж на секретен патрон/брава или трябва да подмените
                        старите;<br>

                        7. Ако има чуждо тяло в ключалката – клечка, игла, счупен ключ, лепило, дъвка или монтажна
                        пяна;<br>
                        8. Ако се съмнявате за опит за влизане взлом във вашия дом, офис, вила, автомобил;<br>
                        9. Ако желаете да подмените старите брави и ключалки с по-надеждни и по-сигурни;<br>
                        10. Ако се нуждаете от допълнителна касова брава или друг сигурен механизъм за заключване(резе,
                        греда, розетка, касова брава), майстор ключар може да ви посъветва какво е най-подходящо за Вас
                        и да извърши монтажа;<br>
                        11. Ако искате да прекодирате касова брава или да смените секретността с нова и други ключове;<br>
                        12. Ако искате да се монтира, ремонтира, настрои, смени или монтира нов автомат за врата – метална,
                        блиндирана, алуминиева, стъклена, дървена;<br>
                        13. Ако имате нужда от отключване, поправяне на вашия сейф;</p>


                    <div class="row g-4">
                        <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Денонощно –
                            24h</a>
                        <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Тел: 0888 213806</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'extra_img/atelie-1.jpg' %}"
                         style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Address</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Services</h4>
                <a class="btn btn-link" href="">General Carpentry</a>
                <a class="btn btn-link" href="">Furniture Remodeling</a>
                <a class="btn btn-link" href="">Wooden Floor</a>
                <a class="btn btn-link" href="">Wooden Furniture</a>
                <a class="btn btn-link" href="">Custom Carpentry</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Quick Links</h4>
                <a class="btn btn-link" href="">About Us</a>
                <a class="btn btn-link" href="">Contact Us</a>
                <a class="btn btn-link" href="">Our Services</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
                <a class="btn btn-link" href="">Support</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Newsletter</h4>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>